<aside class="info aside section">
  <div class="section-inner">
    <h2 class="heading sr-only">Basic Information</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Charleston, IL</li>
        <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="#">kyjus25@gmail.com</a></li>
        <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="#">https://www.justinwhite.info</a></li>
      </ul>
    </div>
  </div>
</aside>
