<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">Software Developer • <br><span class="place"><a target="_blank" href="https://pavlovmedia.com/">Pavlov Media</a></span> <span class="year">(Aug 2018 - Present)</span></h3>
        <ul>
          <li>Create and maintain Single Page Applications in Node.js, Angular, and TypeScript</li>
          <li>Integrate front end with back end using RESTful APIs to communicate with one-another</li>
          <li>Use reactive programming with RxJS to streamline UI/UX design
          <li>Contribute to SCRUM and Agile planning and development processes</li>
          <li>Use version control to collaborate and integrate my sprint tasks with others</li>
          <li>Create custom reusable libraries using a Nexus Repository</li>
        </ul>
      </div>
      <!--//item-->
      <hr>
      <div class="item">
        <h3 class="title">Full Stack Developer • <br><span class="place"><a target="_blank" href="https://thinkcreatedo.com/">Imagine This! Marketing Group</a></span> <span class="year">(Aug 2016 - Aug 2018) • 2 yr 1 mo</span></h3>
        <ul>
          <li>Create and maintain websites in varying CMS platforms</li>
          <li>Email and database troubleshooting</li>
          <li>Offer senior assistance to our web development team</li>
          <li>Create custom Wordpress plugins to integrate with the needs of our clients</li>
        </ul>
      </div>
      <!--//item-->
      <hr>
      <div class="item">
        <h3 class="title">Freight Unloader + Stocker • <br><span class="place"><a target="_blank" href="https://walmart.com/">Walmart</a></span> <span class="year">(Apr 2014 - Aug 2016) • 5 mo</span></h3>
        <ul>
          <li>Zone aisles</li>
          <li>Unload truck</li>
          <li>Process truck</li>
          <li>Stock shelves</li>
        </ul>
      </div>
      <!--//item-->
      <hr>
      <div class="item">
        <h3 class="title">Web Developer • <br><span class="place"><a target="_blank" href="https://sitecarpenter.com/">Sitecarpenter Websites</a></span> <span class="year">(Jan 2014 - Aug 2016) • 2 yr 8 mo</span></h3>
        <ul>
          <li>Designing and implementing Site Carpenter’s proprietary CMS into those themes. I have designed the websites for many businesses throughout the Charleston surrounding area. This includes Pro-Mow Lawn Care, P.A.D.S., Hager Tree Farm, Standing Stone Community Center, and several others. All websites can be found at Site Carpenter’s website.</li>
          <li>Occasionally, the clients will require components in their website that the CMS does not include, or they request components that they have in their Wordpress or Drupal site they would like included, so it is my job to design a custom application that suits their needs, usually in PHP or Jquery.</li>
        </ul>
      </div>
      <!--//item-->
      <hr>
      <div class="item">
        <h3 class="title">Cook • <br><span class="place"><a target="_blank" href="https://www.kfc.com/">KFC / A&W</a></span> <span class="year">(Apr 2013 - Apr 2016) • 3 yr 1 mo</span></h3>
        <ul>
          <li>My main role was as a fry cook, but I also assisted with the making and packing for both KFC and A&W as often as I was needed.</li>
          <li>I also assisted the managers several times with their truck counts, and have been offered a managerial position several times throughout my time at KFC, but have declined due to conflicts with my past school schedules and/or the commute distance from Mattoon.</li>
        </ul>
      </div>
      <!--//item-->
      <hr>
      <div class="item">
        <h3 class="title">Web Developer Internship • <br><span class="place"><a target="_blank" href="https://heartland.com/">Heartland Dental</a></span> <span class="year">(Jan 2015 - Jun 2015) • 6 mo</span></h3>
        <ul>
          <li>Helped in the converting of all 500+ websites into Drupal “thumbprints”.</li>
          <li>When offices needed revisions to their website (doctor changes, bio additions, etc.) it was also my job to correct them.</li>
        </ul>
      </div>
      <!--//item-->
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</section>
