<aside class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <p class="intro">
        I have written custom plugins and modules for Wordpress, Drupal, and Magento, as well as grown an extensive knowledge in both hardware and software troubleshooting. I have extensive knowledge with all Microsoft Office software, as well as basic knowledge of the entire Adobe creative suite.</p>

      <div class="skillset">

        <div class="item">
          <h3 class="level-title">PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fas fa-info-circle"></i>Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="96%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Node.js<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fas fa-info-circle"></i>Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="96%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">HTML5, CSS3, jQuery, JS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fas fa-info-circle"></i>Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="96%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Angular / Typescript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fas fa-info-circle"></i>Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">RxJS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fas fa-info-circle"></i>Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
          </div>
        </div>

        <p><a class="more-link" href="../../../../assets/Justin White - Resume.pdf"><i class="fas fa-external-link-alt"></i>Download my Resumé</a></p>
      </div>
    </div>
  </div>
</aside>
