<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Top 5 Spotify Artists</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/07QEuhtrNmmZ0zEcqE9SF6?si=NvvAo81pQGSqXkbE_7H99A">Owl City</a></li>
        <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/2ysnwxxNtSgbb9t1m2Ur4j?si=h_KZHTR6Tp28n_-rhHI_bQ">George Ezra</a></li>
        <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/68EB3QvNdVLkC7SAgDbHIR?si=5iaWoIn-SWG4uwc0cYkacg">Marianas Trench</a></li>
        <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/2MSlGNpwXDScUdspOK6TS7?si=yfRMZbZ7SWi1IsSDS2QHcQ">Home Free</a></li>
        <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/5AtWO8IEnjhRLzaVVQxFUs?si=SopADOWURzi7lFH7Fo3CJQ">SoMo</a></li>
      </ul>
    </div>
  </div>
</aside>
