<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-lg-8 col-12">
      <app-about></app-about>
      <app-latest-project></app-latest-project>
      <app-github></app-github>
      <app-work></app-work>
    </div>
    <div class="secondary col-lg-4 col-12">
      <app-information></app-information>
      <app-skills></app-skills>
      <app-testimonials></app-testimonials>
      <app-education></app-education>
      <app-languages></app-languages>
      <app-artists></app-artists>
      <app-credits></app-credits>
    </div>
  </div>
</div>
