<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
      <div class="item">
        <blockquote class="quote">
          <p><i class="fas fa-quote-left"></i>Justin is fun to work with and is a great asset to the team!</p>
        </blockquote>
        <p class="source"><span class="name">Justin White</span><br /><span class="title">Self</span></p>
      </div>

      <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p>

    </div>
  </div>
</aside>
