<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> Lake Land College</h3>
        <h4 class="university">Mattoon IL <span class="year">(2014 - 2016)</span></h4>
      </div>
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> Charleston High School</h3>
        <h4 class="university">Charleston IL <span class="year">(2010 - 2014)</span></h4>
      </div>
    </div>
  </div>
</aside>
