<header class="header">
  <div class="container clearfix">
    <img class="profile-image img-fluid float-left" src="../../../assets/profile.jpg" alt="Justin White" />
    <div class="profile-content float-left">
      <h1 class="name">Justin White</h1>
      <h2 class="desc">Web & Software Developer</h2>
      <ul class="social list-inline">
        <li class="list-inline-item"><a target="_blank" href="https://twitter.com/kyjus25"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://plus.google.com/u/0/103733317862758628432?tab=wX"><i class="fab fa-google-plus-g"></i></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/justin-white-540972123/"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://github.com/kyjus25"><i class="fab fa-github-alt"></i></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/justinwhite2759"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item last-item"><a target="_blank" href="https://steamcommunity.com/id/kyjus25"><img style='width:20px; margin-top: 8px;' src='../../../assets/steam-xxl.png'></a></li>
      </ul>
    </div>
    <a class="btn btn-cta-primary float-right" href="http://m.me/justinwhite2759" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>
  </div>
</header>
