<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Project</h2>
    <div class="content">

      <div class="item featured text-center">
        <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/velocity-bootstrap-theme-for-startup-products/" target="_blank">Electron Pokémon Guide</a></h3>
        <p class="summary">A pokémon research tool written in Node.js, Angular, & Electron<br>using PrimeNG and the PokéAPI.</p>
        <div class="featured-image has-ribbon">
          <a href="https://github.com/kyjus25/electron-angular-prime-boilerplate/tree/pokedex" target="_blank">
            <img class="img-fluid project-image" src="../../../assets/project-featured.png" alt="project name" />
          </a>
          <div class="ribbon">
            <div class="text">TypeScript</div>
          </div>
        </div>

        <div class="desc text-left">
          <p>A Pokédex I'm working on to showcase the possibilities with Electron.</p>
          <p>Utilizes many features of PrimeNG with REST calls to the PokéAPI.</p>
        </div>
        <a class="btn btn-cta-secondary" href="https://github.com/kyjus25/electron-angular-prime-boilerplate/tree/pokedex" target="_blank"><i class="fas fa-plus"></i> Contribute</a>
      </div>
    </div>
  </div>
</section>
